.container {
  padding: 20px 0;
}

.border-serial {
  border: 7px solid #F5EC7A;
  border-radius: 10px;
}

.serial-num {
  writing-mode: vertical-lr;
  font-size: 350px;
  letter-spacing: 48px;
  line-height: 414px;
  color: #F5EC7A;
}

.return-icon-white {
  margin-top: 15px;
  margin-left: 15px;
}

.balck-background{
  background-color:black;
}