@import url('https://fonts.cdnfonts.com/css/ovo');

img{
  width: 100%;
  object-fit: fill;
  position: relative;
}

.top-img {
  height: 25%;
  top: 0;
}
.logo-img{
  object-fit: contain;
  height: 50%;
}
.fb-btn {
  /*todo refactor this shit*/
  /*height: 35px;*/
  position: relative;
  margin: auto;
  z-index:9999;
  background: #FEF9F9;
  border-radius: 10px;
  font-size: 22px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 6px 0;
  font-family: 'Ovo', sans-serif;
}
.button-img{
  height: 25%;
  bottom: 0;
}

.fb-icon {
  bottom: 0;
  top: 1px;
  right: 0;
  left: 15px;
  height: 34px;
  width: 31px;
}